/* * {
  padding: 0;
  margin: 0;
}

.result,
.key {
  border: 1px solid #cecdcd;
  height: 3.5rem;
}

.result {
  background-color: #858694;
  text-align: right;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.button {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
}

.key {
  background: #e6e4e4;
  cursor: pointer;
}

.two-cell {
  grid-column: span 2;
}

.four-cell {
  grid-column: span 4;
}

.operator {
  background-color: #ff9832;
}

::placeholder {
  color: #fff;
} */